.boton__clear {
    height: 80px;
    font-size: 1.3rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    background-color: rgba(0, 0, 255, 0.356);
    border-radius: 10px;
}

.boton__clear:hover {
    background-color: #dddd34;
}